# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Django stuff
*.log
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db